@import "tailwindcss";

:root {
  height: 100vh;
  width: 100vw;
}



body {
  height: 100%;
  width: 100%;
}

.home-main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bgImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  animation: bgImageFadeIn 2s ease-in-out forwards;
  top: 0;
  left: 0;
  z-index: -1;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
}

.big-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        35px 35px 68px rgba(58, 62, 108, 0.5),
        inset 0 12px 30px rgba(255, 255, 255, 0.5),
        inset -12px -12px 30px rgba(58, 62, 108, 0.6);
}

.medium-box-shadow {
    transition-duration: 0.5s;
    background-color: var(--boxColor);
    box-shadow:
        20px 20px 40px rgba(58, 62, 108, 0.5), 
        inset 15px 15px 30px rgba(255, 255, 255, 0.5), 
        inset -20px -20px 30px rgba(58, 62, 108, 0.6)
}
.big-box-shadow:hover{
    scale: 1.02;
}
.big-box-shadow:active{
    scale: 0.9;
}
.small-box-shadow {
    transition-duration: 0.5s;
    overflow-x: hidden;
    background-color: var(--boxColor);
    box-shadow:
        10px 10px 20px rgba(58, 62, 108, 0.5),
        inset 0 5px 10px rgba(255, 255, 255, 0.5),
        inset -10px -10px 20px rgba(58, 62, 108, 0.6);
}

.pink{ --boxColor: #C599B6; }
.white{ --boxColor: #FFFFFF; }
.black{ --boxColor: #000000; }